body {
text-align: center;
}

h1{
margin-top: 20px;
font-family: cursive;
}

h2{
  margin-top: 40px;
}
textarea{
  font-size: 16px; 
  resize: none;
  height: 200px;
  width:900px;
}



.centered-container {
  width: 30%;          /* Adjust the width as needed */
  margin: 0 auto;      /* This centers the container */
  margin-top: 20px;
  text-align: left;    /* Aligns the text to the left */
  font-size:16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#to-do-list{
  margin: auto;
  width: 70%;
  border: solid black 2px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.to-do-item{
  border: solid black 2px;
  text-align: left;
  padding-left:20px;
  padding-right:20px;
  padding-top:10px;
  padding-bottom:10px;
  display: flex;
  flex-direction: column;
}


.button-items {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap value as needed */
}

.button-to-do {
  padding: 5px 10px;
  cursor: pointer;
}


